[submodule "roles/dev-sec.ssh-hardening"]
	path = roles/dev-sec.ssh-hardening
	url = https://github.com/Fsero/ansible-ssh-hardening.git
[submodule "roles/simple-pki"]
	path = roles/simple-pki
	url = https://github.com/Fsero/ansible-simple-pki.git
[submodule "roles/ansible-apt"]
	path = roles/ansible-apt
	url = https://github.com/Fsero/ansible-apt.git
[submodule "roles/ansible-rsyslog"]
	path = roles/ansible-rsyslog
	url = https://github.com/Fsero/ansible-rsyslog-1.git
[submodule "roles/ansible-docker"]
	path = roles/ansible-docker
	url = https://github.com/Fsero/ansible-docker.git
