# {{ansible_managed}}
filebeat.prospectors:
- input_type: log
  paths:
{% for host in groups['sinkers'] %}
    - /mnt/log/{{hostvars[host]['ansible_hostname']}}/falco.log
{% endfor %}

output.logstash:
  hosts: ['logstash:5043']
