[Unit]
Description=Launch metadataextractor
After=docker.service
BindsTo=docker.service
After=elasticsearchd.service
BindsTo=elasticsearchd.service
After=sinkerregistryapid.service
BindsTo=sinkerregistryapid.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/metadataextractord start
ExecStop=/usr/local/sbin/metadataextractord stop
Requires=docker.service
RemainAfterExit=no
Restart=always
PIDFile=/var/run/metadataextractord.pid

[Install]
WantedBy=multi-user.target
